.auth-container {
	background-image: linear-gradient(
			51.22deg,
			rgba(47, 140, 96, 0.63) -22.39%,
			rgba(0, 0, 0, 0.6237) 61.76%
		),
		url(./assets/images/auth-bg.jfif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* .sidebar-container {
	background-color: #1f263e;
} */

.sidebar-container .ps-sidebar-root {
	border: none;
	/* position: fixed; */
}

.sidebar-container .ps-sidebar-container {
	background-color: #1f263e;
	border-top-right-radius: 58px;
	height: 100vh;
}

.sidebar-container .ps-menu-label {
	color: #fff;
	opacity: 0.65;
}

.sidebar-container .ps-menu-icon {
	color: #fff;
}

.sidebar-container .ps-menu-button:hover {
	background-color: #00924d1a !important;
}

.logo-menu-item .ps-menu-button:hover {
	background-color: transparent !important;
}

.header-container {
	background-image: url(./assets/images/header-bg.png);
	background-position: center center;
	background-size: cover;
	border-radius: 15px;
}

.action-btn {
	background-color: transparent;
	border: none;
	color: #009247;
}

.recipe-img {
	width: 56px;
	border-radius: 8px;
}

td {
	vertical-align: middle;
}
